*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

/* nav */
nav{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
nav .left img{
   
    width: 120px;
    height: auto;
}
#xlogo{
    width: auto;
    height: 30px;
    padding-left: 5px;
    border-left: 3px solid grey;

}
nav .left{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav ul li{
    list-style: none;
    text-transform: capitalize;
    padding-left: 15px;
    font-size: 13px;

}
nav ul li i{
    padding-left: 10px;
    font-size: 14px;
    
}
nav ul li:hover{
    border-bottom: 2px solid rgb(77, 76, 76);
}

/* hero */
.hero{
    width: 100%;
    height: 570px;
    background: url('hero1.jpg') no-repeat center/cover;
    display: flex;
    justify-content: end;
    padding: 130px 160px;
}
.hero .contents{
  
}
.hero .contents h1{
    font-size: 48px;
    text-transform: capitalize;
}
.hero .contents p{
    padding: 30px 0;
}
.hero .contents button{
    width: 100px;
    background: #9bf00b;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 30px;
    width: 160px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
/* Home cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    padding:5px 100px;
    text-align: center;
    align-items: center;
  }
  
  .home-cards img {
    width: 60px;
    margin-bottom: 20px;
  }
  
  .home-cards h3 {
    color: green;
  }
  

  


/* banner */
.banners{
    width: 100%;
    height: 420px;
    /* background: pink; */
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 0 5px;

}
.banners .banner{
    width: 50%;
    height: 100%;
    background: aqua;
    
    display: flex;
}

.banners .banner .left{
    width: 50%;
    height: 100%;
    background: green;
}
.banners .banner .left .contents{
    padding: 50px 30px;
    text-transform: capitalize;
    color: white;
}
.banners .banner .left .contents p{
    padding: 20px 0;
}
.banners .banner .left .contents a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
}
/* hero2 */
.hero2{
    width: 100%;
    height: 570px;
    background: url('hero2.jpg') no-repeat center/cover;
    display: flex;
    justify-content: end;
    padding: 130px 100px;
}
.hero2 .contents{
  
}
.hero2 .contents h1{
    font-size: 48px;
    text-transform: capitalize;
}
.hero2 .contents p{
    padding: 30px 0;
}
.hero2 .contents button{
    width: 100px;
    background: #9bf00b;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 30px;
    width: 160px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}  

@media(max-width: 1250px){
    nav ul{
     display: none;
    }
}

@media(max-width: 1000px){
    .home-cards{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width: 700px){
    .home-cards{
       padding: 0 40px;
    }
    .home-cards img{
        width: 40px;
    }
}